.user-face {
	width: 75px;
	height: 75px;
	position: relative;
	padding-top: 14px;
	padding-left: 5px;
}

.bold {

	font-weight: bold;
}

.icon-token {
	width: 20px;
	height: 20px;
	float: left;
}

.icon-container {

	float: left;
	width: 20px;
	height: 20px;
}

.item-info {

	float: left;
}

.item-text {

	float: left;
	position: relative;
	left: 10px;
}

.item-user-face {

	float: left;
	position: absolute;
	left: 5px;
	top: -8px;
}

.user-avail {

	text-align: center;
	padding-top: 5px;
}

.center-wrapper{
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}