.user-face {
	width: 75px;
	height: 75px;
	position: relative;
	padding-top: 14px;
	padding-left: 5px;
}

.work-icon {
	width: 75px;
	height: 75px;
	position: relative;
	padding-top: 14px;
	padding-left: 5px;
}


.bold {

	font-weight: bold;
}

.icon-token {
	width: 20px;
	height: 20px;
	float: left;
}

.icon-container {

	float: left;
	width: 20px;
	height: 20px;
}

.item-info {

	float: left;
}

.item-text {

	float: left;
	position: relative;
	left: 10px;
}

.item-user-face {

	float: left;
	position: absolute;
	left: 5px;
	top: -8px;
}

.user-avail {

	text-align: center;
	padding-top: 5px;
}

.center-wrapper{
  text-align: center;
}
.center-wrapper * {
  margin: 0 auto;
}

#textbox-icon {
    position:absolute;
    right:15px;
    top:10px;
}

#reward-sel .ui-bar-a { 
    background-image: linear-gradient( #fff, #f1f1f1 );

    background-image: linear-gradient( #f9f9f9 , #eee );
    border: none;
    font-weight: bold;
    color: #222;
    text-shadow: none;

} 

#reward-sel .ui-bar-a :hover {
    color: red;
}

a {
    text-decoration: none;
}
a.img{
    padding-left: 1%;
}